<div class="nav flex-column sidebar" 
aria-orientation="vertical">
<a class="nav-link mb-2" href="#">
    <img src="../../../assets/img/afterglow.jpg" width="24" height="24"
    style="border-radius:50%" alt=""><strong>shimaa</strong></a>

<a class="nav-link active" href="#" >News Feed</a>
<a class="nav-link" href="#" >Profile</a>
<a class="nav-link" href="#" >Messages</a>
<a class="nav-link" href="#" >Settings</a>
<p class="mb-2 text-secondary">Shortcuts</p>

<a class="nav-link" href="#" >Groups</a>
<a class="nav-link" href="#" >My group</a>
<a class="nav-link" href="#" >new group</a>
<a class="nav-link" href="#" >create group</a>
<p class="mb-2 text-secondary">Shortcuts</p>

<a class="nav-link" href="#" >Apps</a>
<a class="nav-link" href="#" >Games</a>
<a class="nav-link" href="#" >candy</a>
<a class="nav-link" href="#" >Settings</a>


</div>
