.sidebar{
    position: fixed;
}

.nav a{
    width: 186px;
    height: 32px;
    padding: 2px;
    color: #141414;
    font-weight: 400;
}

.nav a:hover{
    background-color: #f5f6f7;
    border: 1px solid#dddfe2;
    border-radius: 2px;
}

.nav a.active{
    background-color: #f5f6f7;
    border: 1px solid #dddfe2;
    border-radius: 2px;
    font-weight: bold; 
}