<div class="card" id="create-post">
  <div class="card-header">
    create post
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div class="img-post">
        <img src="../../../assets/img/afterglow.jpg" width="40" height="40" style="border-radius:50%;" alt="">
      </div>
      <textarea name="text" id="textarea" placeholder="What's on your mind, Shimaa?"></textarea>
    </div>
    <div class="d-flex justify-content-around pt-2 pb-2 add-section">
      <a href="#">Photo/Video</a>
      <a href="#">Tag Friends</a>
      <a href="#">Feeling Activity</a>

    </div>
    <div class="p-3" id="hide-section">
      <div class="post-to">
        <div class="d-flex justify-content-between mb-3 to-newsfeed">
          <div class="img-po">
            <img src="../../../assets/img/afterglow.jpg" width="38" height="38" style="border-radius:50%;" alt="">
            Newsfeed
          </div>
          <select style="border:1px solid #272727;
          height: 24px; font-family: 'Font Awesome\5 Brands','arial';">
            <option value="friends">&#xf500;
              Friends</option>
            <option value="friends">&#xf09b;
              Friends</option>
            <option value="friends">&#xf500;
              Friends</option>
          </select>
        </div>

        <div class="d-flex justify-content-between mb-3 to-newsfeed">
            <div class="img-po">
              <img src="../../../assets/img/afterglow.jpg" width="38" height="38" style="border-radius:50%;" alt="">
              Your Story
            </div>
            <select style="border:1px solid #272727;
            height: 24px; font-family: 'Font Awesome\5 Brands','arial';">
              <option value="friends">&#xf500;
                Friends</option>
              <option value="friends">&#xf09b;
                Friends</option>
              <option value="friends">&#xf500;
                Friends</option>
            </select>
          </div>
        <div class="d-flex justify-content-between mt-2 post">
            <select style="border:1px solid #272727;
            height: 24px; font-family: 'Font Awesome\5 Brands','arial';">
              <option value="friends">
                See More</option>
</select>
<input type="hidden" id="id" value="">
<button type="button" class="button-custom">Share</button>
      </div>
    </div>
  </div>
</div>
</div>